<div class="nav-bar">
    <mat-toolbar class="navbar">
        <div class="left-nav">
            <a mat-raised-button color='warn' class="homeBtn" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Hem</a>
            <a mat-raised-button color='warn' class="postsBtn"  routerLink="/posts" routerLinkActive="active">Inlägg</a>
        </div>
        <div *ngIf="(user | async)">
            <a mat-raised-button color='warn' class="editBtn" routerLink="/edit" routerLinkActive="active" >Skapa</a>
            <button mat-raised-button color='warn' (click)='onLogout()'>Logga ut</button>
        </div>
        <div *ngIf="!(user | async)">
            <a mat-raised-button color='warn' routerLink="/login" routerLinkActive="active">Logga in</a>
        </div>
    </mat-toolbar>
</div>
