.nav-bar{

    .mat-toolbar{
        display: flex;
        justify-content: space-between;
    }
    .navbar{
        background-color: #EAEDED;
    }

    .active{
        background-color: #DD2C00;
        
    }

    .homeBtn,.editBtn,.postsBtn {
        margin-right: 1rem;
    }


    .left-nav{
        display: flex;

    }

}