<div class="container">
    <div class="hero">
        <div class="left-side">
            <div class="left-side-content">
                <h6>Best blogg 2021</h6>
                <h1>Salomonsson Blog</h1>
                <h4>Read it here <span class="orange">now!</span></h4>
            </div>
        </div>
        <div class="right-side">
            
        </div>
    </div>
</div>

<div class="container-bot">
    <div class="container-bot-content">
        <p class="date">onsdag 27 januari 2021</p>
        <h3 class="title">De små berättelsernas filosofi</h3>
        <p class="bread">
            Psykologiskt tycks vi till varje pris vilja uppfinna logik, logik    vilken som helst. Det är då strängt taget inte logik utan försök att anpassa logiken efter sina egna förehavanden och inte tvärtom. 
            <br>
            Det är förtvivlat svårt att värja sig mot, så fort man eftersträvar att hitta stringens i sina val, sitt liv och sina åsikter stöter man på problem. Om man är modig och gräver lite djupare inser man snabbt att många av idéerna vilar på oklar grund eller möjligen ingen grund alls. Det enda man har att förlita sig på i de grundläggande frågorna är principer. Det kan finnas mer eller mindre goda grunder för principer man till slut finns bara ställningstaganden kvar. Ställningstaganden vilka inte kan eller bör uppbackas på det sätt vi ofta tänker oss. Det slutar nämligen alltid i ett cirkelresonemang. 
            <br>
            Att följa sina egna principer i svåra och utmanande stunder är svårt, de flesta misslyckas mer eller mindre. Det är därför de få som lyckas är så enormt imponerande. Många av dem är våra hjältar. 
            <br>
            Dessa misslyckanden är mycket svåra att hantera psykologiskt. Vi binder försöker binda ihop våra liv med någon slags "logik" för att så att säga ta en genväg runt det obehagliga faktum att livet är logiskt men inte på det sätt vi själva tror eller önskar. Livet består snarare av kortare episoder som löst binds samman till någon slags helhet. Att höra efterhandskonstruktioner och säkra prognoser av framtiden är delar av samma fenomen. Ett försök till filosofiskt lindring. 
            <br>
            Jag tror att det till viss del är oundvikligt för oss och fyller något slags syfte. Dessvärre tror jag också att ett för långtgående användande av denna metod i slutändan skapar mer lidande än det lindrar. Det är skönt att acceptera livet som kortare kapitel med relativt fristående historier snarare än en enda sammanhållen berättelse. Jag tror också att det gäller världen i allmänhet och inte bara individen i synnerhet. Världen och livet är mer kaos än något annat. Utmaningen att hålla fast vid så mycket som någon enda princip är därför svårare än vi tror. Alla kapitel innehåller olika frestelser, kontexter och berg att bestiga. 
            <br>
            Hästar verkar inte uppfatta det som ett problem. De tycks inte lida av att förtvivlat hålla fast vid sin egen livsberättelse. De lever i varje kapitel utan att de verkar bry sig om kvaliteten på hela historien. Jag tror det är omöjligt för oss människor och skulle också uppfattas som obehagligt men kanske kan vi lära oss något. Jag tror vi behöver broar mellan våra kapitel och där ser jag principerna som de mest hållfasta övergångarna. Den kanske största skatt en människa kan hitta är en princip denne kan omfamna i både hjärta och själ. Hittar man en sådan gör man bäst i att hålla i den hårt för den är aldrig så stadig att den inte kan ruckas eller bytas ut om man inte passar sig. Principer ska inte förväxlas med åsikter, fakta eller bokstavliga regler. De är varken mer eller mindre än just principer, ofta omöjliga att helt och fullt definiera. 
            <br>
            Att börja nya kapitel handlar om att prova nya saker, att ta sig an livet på nya sätt. Att våga misslyckas. Det är som jag ser det att på riktigt ha ett "ateistiskt" synsätt. Det finns så att säga ingen mening mer än det helt magiska faktum att var och en av oss har fått en chans omöjlig att förstå vidden av. Det skapar en öppenhet mot världen som är svår att nå om man enträget försöker passa in sig själv och andra i den egna romanen, romanen där man själv är både den vita och den svarta schackspelaren samtidigt. 
            <br>
            Det handlar också om modet att stå upp för sig själv och förstå värdet av den egna tänkandet. Värdet av den egna chansen. Till syvende och sist står vi med oss själva som den strängaste domaren. 
            <br>
            Kanske är det det som är poängen, det finns inget svar i singular utan svar på de djupaste frågorna sökes i plural. Det är vad jag tror. 
        </p>
        <p class="author">Upplagd av Johan Salomonsson kl. 16:32:00</p>
    </div>
</div>

<div class="btn-div">
    <button mat-raised-button color='warn' routerLink='/posts'>Äldre inlägg</button>
</div>