<div class="container">
    <div class="hero">
        <div class="left-side">
            <div class="left-side-content">
                <h6>Bästa blogg 2021</h6>
                <h1>Salomonsson Blogg</h1>
                <h4>Läs den här <span class="orange">nu!</span></h4>
            </div>
        </div>
        <div class="right-side">
            
        </div>
    </div>
</div>

<div class="container-bot">
    <div class="container-bot-content" *ngFor="let post of posts | slice:0:1">
        <p class="date">{{post.published}}</p>
        <h3 class="title">{{post.title}}</h3>
        <h5 *ngIf="post.secondTitle" class="secondTitle">{{post.secondTitle}}</h5>
        <p class="bread">
            {{post.content}}
        </p>
        <p class="author">{{post.author}} <span>{{post.published}}</span></p>
    </div>
</div>

<div class="btn-div">
    <button mat-raised-button color='warn' routerLink='/posts'>Äldre inlägg</button>
</div>

<!-- <p class="bread">
            
    {{post.content}}
    
</p> -->